$sw-ButtonGenerate-height: 44px !default;

.sw-ButtonGenerate {

    @include button-base($poa-purple, $sw-ButtonGenerate-height);
    @include button-focus-active-hover($poa-purple);
    @include button-disabled($poa-purple);
    @include button-shadow($poa-purple);

    &#{ & }-core {
        background-color: $poa-purple;
        @include button-focus-active-hover($poa-purple);
        @include button-shadow($poa-purple);
    }

    &#{ & }-test {
        background-color: $test-cyan;
        @include button-focus-active-hover($test-cyan);
        @include button-shadow($test-cyan);
    }

    .hm-Home & {
        width: 100%;

        @media (min-width: $breakpoint-md) {
            width: auto;
        }
    }
}

.sw-ButtonGenerate_Text {

    @include button-text(#fff, 16px);
    margin-right: 65px;

}

.sw-ButtonGenerate_Icon {
    display: block;
    height: 16px;
    width: 18px;
}
